/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* ------NEW DARK MODE-------- */

.bg-darkmode-black{
  background: #151419 !important;
}
.bg-darkmode-lightblack{
  background: #222128 !important;
}
.text-darkmode-darkgrey{
  color: #7E8189 !important;
}

.text-darkmode-grey{
  color: #C4C4C4 !important;
}

/* -------END OF NEW DARKMODE------ */

.button-custom{
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  border-style: none !important;
  margin-left: 5px !important;
  font-size: 15px !important;
  padding: 2px 4px !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
}
.card-custom{
  width: 100% ;
  background-size: cover !important;
  background-position: center top !important;
    height: 70vh;
}

.bg-faded-black{
  background: black;
  opacity: 0.97;
}
.container--custom{
  width: 100%;
  margin: 0 auto;
}
.container--custom img{
  max-height: 80vh;
}

.img--custom{
  width: 12px;
  margin-left: 1px;
}
.navbar{
  position: relative;
}
.nav-container-custom{
  width: 30%;
}
.navbar-center-abs{
    position: absolute;
    left: 50%;
    margin-left: -35px !important;  /* 50% of your logo width */
    display: block;
}
.custom-hidden{
  display: none !important;
}
.cursor-default{
  cursor: default !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
iframe{
  width: 100% !important;
  height: 100% !important;
}

video{
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 576px) {
  .container--custom{
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container--custom{
    width: 80%;
    margin: 0 auto;
  }
  .card-custom{
    height: 450px;
  }
}

@media (min-width: 992px) {
  .container--custom{
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .container--custom{
    width: 60%;
  }
}

/* UTILITIES */

.bg-lightgrey{
  background: #F4F7F6;
}

/* ANIMATIONS */

.anim-fadedown{
  position: relative;
  -webkit-animation: fade-down 0.6s ease;
          animation: fade-down 0.6s ease;
}

@-webkit-keyframes fade-down {
  0%{
    opacity: 0;
    top: -100px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade-down {
  0%{
    opacity: 0;
    top: -100px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}
